.lightBkgrnd {
    width: 200px;
    height: 425px;
    background-color: black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    z-index: auto;
}

.glowCirc {
    position: absolute;
    margin-left: 37px;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background-image: radial-gradient(yellow, yellow, black);
    z-index: 1;
}

.redLight {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 25px;
    border: none;
    z-index: 2;
}

.yellowLight {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 25px;
    border: none;
    z-index: 2;
}

.greenLight {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 25px;
    border: none;
    z-index: 2;
}

.selID {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.borderGlow {
    background: yellow;
    background: linear-gradient(90deg, yellow 0%, yellow, black 19%);
}