.lightBkgrnd {
    width: 200px;
    height: 425px;
    background-color: black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    z-index: auto;
}

.glowCirc {
    position: absolute;
    margin-left: 37px;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    z-index: 1;
}

.redLight, .yellowLight, .greenLight {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 25px;
    border: none;
    z-index: 2;
}

.redLight {background-color: red;}

.yellowLight {background-color: yellow;}

.greenLight {background-color: green;}

.loopLights {
    font-size: 18pt;
    margin-left: 66px;
    margin-top: 50px;
    border-radius: 15px;
}

.stopCycle {
    font-size: 18pt;
    margin-left: 55px;
    margin-top: 10px;
    border-radius: 15px;
}